*
{
    margin: 0;
    padding: 0;
    font-family: open sans;
}
body
{
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/*----------main nav----------*/

#navbar
{
    position: sticky;
    top: 0;
    z-index: 10; 
}
.navbar
{
    padding: 0 !important;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #292929 !important;
    font-weight: 600;
    float: right;
    text-align: left;
    cursor: pointer;
}
.navbar-nav li a:hover
{
    text-decoration: underline;
}
.fa-bars
{
    color: #292929;
    font-size: 36px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*----------slider section----------*/

.load{
  animation: slide 7s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 40s infinite;
}
.content{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center
}
.principal h1{
  font-size: 60px;
  font-family: 'open sans';
  margin-bottom: 16px;
}
.principal p{
  font-size: 18px;
  font-family: 'Open sans';
}

@keyframes slide {
  0%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero5.jpg');
  }
  25%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero5.jpg');
  }
  25.01%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero4.jpg');
  }
  50%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero4.jpg');
  }
  50.01%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero3.jpg');
  }
  75%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero3.jpg');
  }
  75.01%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero7.jpg');
  }
  100%{
      background-image: url('http://ericpthomas.com/wp-content/uploads/2019/07/hero7.jpg');
  }
  
}
  
/*----------articles section----------*/

#articles
{
    padding: 80px 0;
    background: #e6f0e5;
}
.title::after
{
    content: '';
    background: #292929;
    height: 2px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.single-blog
{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
    padding: 0px;
    margin-top: 30px;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.4s;
}
.single-blog:hover
{
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.4);
    padding: 0px;
    margin-top: 30px;
    background-color: #b3c9b1;
    
}
.single-blog img
{
    width: 100%;
}
.single-blog span
{

    float: right;
    font-size: 12px;
    color: #555555;
}
.blog-text::before
{
    content: '';
    background: #292929;
    height: 2px;
    width: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.blog-text
{
  font-size: 18px;
  line-height: 36px;
  font-family: open sans;
  font-weight: 400;
  text-align: center;
  padding: 60px;
}
.single-blog h2
{
  margin-top: 10px;
  font-size: 16px;
  color: #555555;
}


/*----------about section----------*/
#about
{
    background: #fff;
    padding: 80px 0;
}
.about-title
{
    font-size: 36px;
    font-weight: 400;
    margin-top: 44px;
    text-align: center;
}
.about-section
{
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    padding: 16px;
}
.about-title::after
{
    content: '';
    background: #292929;
    height: 2px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.half-row img
{
    width: 100%;
}


/*----------subscribe section----------*/

#subscribe
{
    background-color: #e6f0e5;
    padding: 100px; 
    text-align: center;
}
#subscribe h2
{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
}
.subscribe-title::after
{
    content: '';
    background: #292929;
    height: 2px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.subscribe-box
{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.subscribe-box .form-control 
{
    box-shadow: none !important;
    border-radius: 0;
    border: none;
    margin-top: 30px;
}
.subscribe-box .btn-primary
{
    background-color: #292929; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.subscribe-box .btn-primary:hover
{
    background-color: #165e26;
    color: #fff;
}


/*----------footer section----------*/

#footer
{
    background: #fff;
    color: #292929;
    padding: 28px;
}
.fa
{
    padding: 4px;
}
.footer-nav li
{
    padding: 0 10px;
}
.footer-nav li a
{
    color: #292929 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

/*----------social media icons----------*/

.fa-facebook-square:hover {
    color: #165e26;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-facebook-square{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-twitter-square:hover {
    color: #165e26;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-twitter-square{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-pinterest-square:hover {
    color: #165e26;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-pinterest-square{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-linkedin-square:hover {
    color: #165e26;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa-linkedin-square{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}